@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white antialiased;
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0a0a0a;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}